<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c798016428.js" crossorigin="anonymous"></script>
    
</head>
<body class="home">
    <header>
        <div class="superior">
            <div>
                <img src="/images/logo-mercado-liebre.svg" alt="">
                
            </div>
            <div class="buscador">
                <input type="search" placeholder="Buscar productos, marcas" id="Buscador" />
            </div>
        </div>
        
        <a href="" class="compra"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</a>
        <nav class="header">
            <ul class="header1" style="list-style: none;">
                <li class="top"><a href="">Ofertas</a></li>
                <li class="top"><a href="">Tiendas oficiales</a></li>
                <li class="top"><a href="">Vender</a></li>
                <li class="top"><a href="">Ayuda</a></li>
            </ul>
            <ul class="header2" style="list-style: none;">
                <li class="top"><a href="">Crea Tu Cuenta </a><i class="fa-regular fa-address-card"></i></li>
                <li class="top"><a href="">Ingresa </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li class="top"><a href="">Mis compras </a><i class="fa-solid fa-bag-shopping"></i></li>
                
            </ul>
            
        </nav>
        <div class="boton2">
            <div class="boton">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        
    </header>
    <main class="menu__home">
        <section class="home__main" >
            <h2 class="titulares">Seccion: Basado en tu ultima visita</h2>
            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="" width="420">
                </div>
                
                <div class="detalle">
                    <div class="camioncito">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul style="list-style: none;">
                        <li class="precio">$6.770</li>
                        <li class="desc">40% off</li>
                        <li class="objeto">Cafetera Moulinex</li>
                    </ul>
                </div>
               

            </article>
            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="" width="420">
                </div>

                <div class="detalle">
                    <div class="camioncito">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul style="list-style: none;"
                >
                    <li class="precio">$230.000</li>
                    <li class="desc">20% off</li>
                    <li class="objeto">MacBook Pro 2019</li>
                </ul>
                </div>

            </article>
            <article>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="420">
                </div>
                
                <div class="detalle">
                    <div class="camioncito">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul style="list-style: none;"
                    >
                        <li class="precio">$70.500</li>
                        <li class="desc">10% off</li>
                        <li class="objeto">Samsumg Galaxy S10</li>
                    </ul>
                </div>

            </article>
            <article>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="" width="420">
                </div>
                
                <div class="detalle">
                    <div class="camioncito">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul style="list-style: none;"
                    >
                        <li class="precio">$23.200</li>
                        <li class="desc">5% off</li>
                        <li class="objeto">SmartTV Samsung 43"</li>
                    </ul>
                </div>

            </article>
        </section>
        <section class="home__main">
            <h2 class="titulares">Seccion de ofertas</h2>
            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="" width="420">
                </div>
                
                <div class="detalle">
                    <div class="camioncito">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul style="list-style: none;"
                    >
                        <li class="precio">$6.770</li>
                        <li class="desc">40% off</li>
                        <li class="objeto">Cafetera Moulinex</li>
                    </ul>
                </div>

            </article>
            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="" width="420">
                </div>
                
                <div class="detalle">
                    <div class="camioncito">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul style="list-style: none;"
                >
                    <li class="precio">$230.000</li>
                    <li class="desc">20% off</li>
                    <li class="objeto">MacBook Pro 2019</li>
                </ul>
                </div>
        
            </article>
            <article>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="420">
                </div>
                
                <div class="detalle">
                    <div class="camioncito">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul style="list-style: none;"
                    >
                        <li class="precio">$70.500</li>
                        <li class="desc">10% off</li>
                        <li class="objeto">Samsumg Galaxy S10</li>
                    </ul>
                </div>
               

            </article>
            <article>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="" width="420">
                </div>
                
                <div class="detalle">
                    <div class="camioncito">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <ul style="list-style: none;"
                    >
                        <li class="precio">$23.200</li>
                        <li class="desc">5% off</li>
                        <li class="objeto">SmartTV Samsung 43"</li>
                    </ul>
                </div>
               

            </article>

        </section>

    </main>
    <footer>
        <section class="footer">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
                <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
                <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            
        </section>
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>