<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/c798016428.js" crossorigin="anonymous"></script>
        
    </head>
<body>
    <header>
        <div class="superior">
            <div class="logo-mc">
                <img src="/images/logo-mercado-liebre.svg" alt="">
                
            </div>
            <div class="buscador">
                <input type="search" placeholder="Buscar productos, marcas" id="Buscador" />
            </div>
            <a href="" class="compra"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</a>
        </div>
        
        <nav class="header">
            <ul class="header1" style="list-style: none;">
                <li class="top"><a href="">Ofertas</a></li>
                <li class="top"><a href="">Tiendas oficiales</a></li>
                <li class="top"><a href="">Vender</a></li>
                <li class="top"><a href="">Ayuda</a></li>
            </ul>
            <ul class="header2" style="list-style: none;">
                <li class="top"><a href="">Crea Tu Cuenta </a><i class="fa-regular fa-address-card"></i></li>
                <li class="top"><a href="">Ingresa </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li class="top"><a href="">Mis compras </a><i class="fa-solid fa-bag-shopping"></i></li>
                
            </ul>
            
        </nav>
        <div class="boton2">
            <div class="boton">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        
    </header>
    <main class="login-main">
        <form class="form-login" action="">
            <div class="input-login">
                <input class="input-login-in" type="text" id="user" name="user" placeholder="Escriba su nombre de usuario">
            </div>
            <div class="input-login">
                <input class="input-login-in" type="password" id="password" name="password" placeholder="Escriba su contraseña">
            </div>
            <div class="button-login">
                <button class="boton-login">
                    Iniciar Sesion
                </button>
            </div>
        </form>
    </main>
    <footer>
        <section class="footer">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
                <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
                <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            
        </section>
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>