.footer i{
    display: block;
    text-align: center;
    color: var(--colorCeleste);
    font-size: 2em;
    padding-top: 60px;
    margin-bottom: 10px;
}
section.footer{
    text-align: center;
   
    
}
.footer p {
    color: var(--colorGrisO);
    
    
}

.footer h4{
   color: var(--colorGrisO);
}

footer p.copy{
    font-size: 12px;
    text-align: left;
    padding-top: 50px;
}
