*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: var(--body-fonts);
    font-size: var(--cuerpo-texto);  
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}
img{
    width: 100%;
}

