
body.home header{
    background-color: var(--colorAmarillo) ;
    
}

#Buscador {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    background-color: white;
    width: 500px;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
}

.home header img{
    width: 180px;
    height: 180px;
    padding: 0%;
    margin: 0%;
}

.home header .compra{
    display: block;
    text-align: center;
}

.home nav.header ul.header1 {
    font-size: 12px;
    margin-top: 10px; 
}

.home nav.header ul.header2 li {
    font-size: 12px;
    margin-top: 10px;
    
}

header button{
    width: 50px;
    padding: 5px;
    font-size: 32px;
    background-color: var(--colorCeleste);
    border: none;
    border-radius: 5px;
    margin: 0 auto 30px;
    display: block;
    
}