
body.home header{
    background-color: var(--colorAmarillo) ;   
    padding: 20px 0; 
}
.home .logo-mc{
    width: 45%;
}
.home .buscador{
    width: 45%;
}
#Buscador {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    background-color: white;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
    width: 100%;
    
}
.home .superior{
    position: relative;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home header .compra{
    margin: 10px;
    padding-top: 10px;
    display: block;
    text-align: center;
}
.home .header{
    display: none;
}
.home nav.header ul.header1{
    font-size: 12px;
    margin-top: 10px; 
    
}

.home nav.header ul.header2{
    font-size: 12px;
    margin-top: 10px; 
}

header .boton{
    
    display: block;
    color: white;
    background-color: var(--colorCeleste);
    font-size: 1.5rem;
    padding: 8px;
    width: 25px;
    border-radius: 8px;
    text-align: center;
    
}
header .boton2 {
    text-align: center;
    margin-left: 44%;
}
@media (min-width:460px){
   
    
    .home header .boton{
        display: none;
    }
    .home header nav.header .top{
        margin-top: 5px;
    }
    .home .header{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .home nav.header ul.header1{
        padding-right: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .home nav.header ul.header2{
        padding-left: 40px;
        padding-right: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .home .header .top {
        margin-left: 30px;
    }
    .home .superior{
        width: 90%;
    }
    .home .logo-mc{
        width: 30%;
    }
    .home .buscador{
        width: 30%;
        padding-left: 1%;
    }
    .home header .compra{
        padding-left: 1%;
    }
    
    
}
